---
title: "Home"
layout: default
sitemap: false
permalink: /
---

<div class="content-area"> 
    <div class="animated-sections">
      <!-- Home section -->
      <section data-id="home" class="animated-section start-page">
        <div class="section-content vcentered">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="title-block">
                  <h3>Diogo F. Soares</h3>
                  <p>E-mail: dfsoares(at)ciencias.ulisboa.pt</p>
                  <p>Office C6.3.38</p>
                  <p>Diogo F. Soares is an Invited Assistant Professor at the Department of Informatics, Faculty of Sciences, 
                    University of Lisbon, and a researcher at LASIGE, contributing to the Health and Biomedical Informatics 
                    and Data and Systems Intelligence research lines. 
                    He teaches courses in Programming and Data Science and holds a PhD in Informatics and an 
                    MSc in Data Science from the University of Lisbon. His research focuses on patient-centered 
                    machine learning, with involvement in European and National funded projects. 
                    His primary research interests include Data Mining, Machine Learning, Unsupervised Learning Algorithms, and Biomedical Informatics.</p>
                </div>
              </div>
            </div>
        </div>
      </section>
      <!-- End Home section -->
      <!-- Publications section -->
      {% include publications.html %}
      <!-- End Publications section -->
      <!-- Teaching section -->
      {% include teaching.html %}
      <!-- End Teaching section -->
      <!-- Software section -->
      {% include software.html %}
      <!-- End Software section -->
      <!-- Blog section -->
      {% include blog.html %}
      <!-- End Blog section -->
    </div>
  </div>
