

<section data-id="software" class="animated-section">
    <div class="page-title">
      <h2>Software</h2>
    </div>
    <div class="section-content">
        <style>
            img{
              border-radius: 10px;
            }
            iframe {
              width: 175px;
              display: inline;
              vertical-align:middle;
            }
            .col-md-3 {
              margin:0;
              padding:0;
              margin-top:10px;
              margin-bottom:10px;
              display:block;
              overflow:hidden;
              text-align:center;
              display: table-cell;
              height: auto;
              float: none;
              background:white;
              border-radius:20px;
            }

            h4{
              margin-bottom: 20px;
            }

            .description{
              display: block;
              margin-top: 10px;
            }
            </style>
            
            {% for software in site.data.software %}
            <div class="jumbotron">
            <div class="row align-items-end">
            <div class="col-md-12 col-sm-12">
            <h4>{{software.title}}</h4>
            {% if software.doi %}
            <a href="{{ entry.doi | prepend: 'http://doi.org/' }}" target="_blank"><button class="btn btn-success btn-sm">WEBSITE</button></a>
            {% endif %}
            {% if software.git %}
            <a href="{{software.git}}" target="_blank"><button class="btn btn-info btn-sm">GIT</button></a>
            {% endif %}
            {% if software.paper %}
            <a href="{{software.paper}}" target="_blank"><button class="btn btn-danger btn-sm">PAPER</button></a> 
            {% endif %}
            
            <span class="description"> {{software.description}} </span>

            
            </div>
            </div>
            </div>
            {% endfor %}
    </div>
  </section>
  
  