<section data-id="teaching" class="animated-section">
    <div class="page-title">
      <h2>Teaching</h2>
    </div>
    <style>
      .jumbotron{
          padding:5%;
          padding-bottom:10px;
          padding-top:20px;
          margin-top:10px;
          margin-bottom:30px;
      }

      .ac-year{
        display: inline-block;
        font-size: small;
        padding: 0px 5px;
        color: inherit;
        background-color: #222;
        margin-bottom: 10px;
      }

    

      </style>
    <div class="section-content">
        {% for course in site.data.courses %}
            <div class="jumbotron">
              
              <h4>{{course.name}}</h4>
              {% for year in course.years %}
                <span class="ac-year">{{year}}</span>
              {% endfor %}
              <!-- {{course.name}} - , {{course.year}} -->
            </div>
        {% endfor %}
    </div>
  </section>